POSTGRES_USER=healthai
POSTGRES_PASSWORD=changeme
POSTGRES_DB=healthai

# Générer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=VOTRE_CLE_FERNET_ICI

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme
AIRFLOW_ADMIN_EMAIL=admin@example.com
